// Sizes.
$mobile-width: 576px;
$tablet-width: 992px;
$desktop-width: 1200px;
$desktop-big-width: 1400px;

//$media-mobile:

// Container.
$container-mobile: 540px;
$container-tablet: 720px;
$container-desktop: 960px;
$container-desktop-big: 1200px;
